:root {
    --common-white: #ffffff;

    --primary-background-color-grey: #e5e5e5;
    --primary-background-color-dark: #2f303a;
    --primary-background-color-white: var(--common-white);

    --primary-text-color-dark: #212121;
    --primary-text-color-white: var(--common-white);
    --secondary-text-color: #757575;

    --primary-footer-text-color: var(--common-white);
    --secondary-footer-text-color: rgba(255, 255, 255, 0.6);

    --color-blue: #2196f3;

    --portfolio-item-border-color: #eeeeee;
    --protfolio-border-color: #ececec;
    --backround-icons-color: #f5f4fa;

    --team-backgound-color: #f5f4fa;

    --social-icon-primary-color: #afb1b8;
    --social-icon-on-hover-color: var(--color-blue);
    --social-icon-footer-primary-color: rgba(255, 255, 255, 0.1);
}

/* --- Global --- */
html {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--primary-background-color-white);
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: var(--primary-background-color-dark);
}
.link:focus,
.link:hover {
    color: var(--primary-text-color-dark);
}
.link.current {
    color: var(--color-blue);
}

.visually-hidden {
    visibility: hidden;
}

/* --- [shared] header section---*/
.header {
    background-color: var(--primary-background-color-white);
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    margin-right: auto;
}
.header-list {
    display: flex;
    gap: 50px;
}
.header-link {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
}

.logo {
    margin-right: 93px;
}
.logo-blue {
    color: var(--color-blue);

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-black {
    color: var(--primary-text-color-dark);

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-white {
    color: var(--primary-text-color-white);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.contacts-list {
    display: flex;
    gap: 50px;
}
.contacts-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contacts-link {
    text-decoration: none;
    color: var(--secondary-text-color);

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--color-blue);
}
.contacts-icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
}

/* --- [shared] footer section --- */
.footer {
    background-color: var(--primary-background-color-dark);
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-contacts {
    margin-right: 70px;
}

.footer-address-list {
    display: block;
    padding-top: 20px;
    margin-bottom: 9px;
}
.footer-address-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: var(--primary-text-color-white);
}
.footer-address-contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--secondary-footer-text-color);
}
.socials-link {
    justify-content: center;
    align-items: center;
}
.footer-socials-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color-white);
}
.footer-socials-list {
    display: flex;
    list-style: none;
    margin-top: 20px;
    gap: 10px;
}
.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    color: var(--common-white);
    background-color: var(--social-icon-footer-primary-color);
    border-radius: 50%;
}
.footer-social-link:hover,
.footer-social-link:focus {
    color: var(--common-white);
    background-color: var(--color-blue);
}
.footer-social-icon {
    fill: currentColor;
}

/* --- studio [home] page --- */
.intro {
    background-color: var(--primary-background-color-dark);
    top: 80px;
}

.intro-container {
    padding: 200px 0 200px 0;
    text-align: center;
    max-width: 1600px;
    background: rgba(47, 48, 58, 0.4);
    background-image: url(../images/Img.jpg);
    margin: 0 auto;
}

.hero-title {
    color: var(--primary-text-color-white);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.hero-btn {
    color: var(--primary-text-color-white);
    background-color: var(--color-blue);
    padding: 10px 32px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.about {
    background-color: var(--primary-background-color-white);
    padding-top: 94px;
    align-items: center;
}

.about-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backround-icons-color);
    width: 270px;
    height: 120px;
    left: 215px;
    top: 774px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.about-list {
    display: flex;
    gap: 30px;
}
.about-title {
    color: var(--primary-text-color-dark);

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.about-description {
    color: var(--secondary-text-color);

    width: 270px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 10px;
}

.work {
    padding-top: 94px;
    padding-bottom: 94px;
}
.work-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 30px;
}
.work-title {
    color: var(--primary-text-color-dark);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    align-items: center;
}

.team {
    background-color: var(--team-backgound-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    justify-content: center;
}
.team-item {
    background-color: var(--primary-background-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-info {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-header-title {
    color: var(--primary-text-color-dark);

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-title {
    color: var(--primary-text-color-dark);

    padding-left: auto;
    padding-right: auto;
    padding-bottom: 10px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-description {
    color: var(--secondary-text-color);

    padding-left: auto;
    padding-right: auto;
    padding-bottom: 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-socials-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.team-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    color: var(--social-icon-primary-color);
    background-color: var(--primary-background-color-white);
    border-radius: 50%;
}
.team-social-link:focus,
.team-social-link:hover {
    color: var(--primary-text-color-white);
    background-color: var(--color-blue);
}

.team-social-icon {
    display: inline-block;
    max-height: 40;
    fill: currentColor;
}

/* cliens section */
.clients-container {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-title {
    text-align: center;
    color: var(--primary-text-color-dark);
    margin-bottom: 50px;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.clients-link {
    width: 170px;
    height: 92px;
    border: 1px solid var(--social-icon-primary-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--social-icon-primary-color);
    background-color: var(--primary-background-color-white);
}
.clients-link:hover,
.clients-link:focus {
    color: var(--social-icon-on-hover-color);
    border: 1px solid var(--color-blue);
}

.client-icon {
    fill: currentColor;
}

/* --- portfolio page --- */
.border {
    border-bottom: 1px solid var(--protfolio-border-color);
}

.hero {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 56px;
}

.portfolio-hero-btn {
    padding: 6px 22px;

    border-radius: 4px;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.portfolio-hero-btn-primary {
    color: var(--primary-text-color-white);
    background: var(--color-blue);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-hero-btn-secondary {
    color: var(--primary-text-color-dark);
    background-color: var(--primary-background-color-grey);
}
.portfolio-hero-btn-secondary:hover,
.portfolio-hero-btn-secondary:focus {
    background-color: var(--color-blue);
    color: var(--primary-text-color-white);
}

.portfolio {
    background-color: var(--primary-background-color-grey);
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.portfolio-item {
    background-color: var(--primary-background-color-white);
    list-style: none;
    margin: 15px;
}
.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-title {
    color: var(--primary-text-color-dark);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.portfolio-description {
    color: var(--secondary-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
.portfolio-card {
    padding: 20px 24px;
    border: 1px solid var(--portfolio-item-border-color);
}
