:root {
    --primary-background-color-grey: #e5e5e5;
    --primary-background-color-dark: #2f303a;
    --primary-background-color-white: #ffffff;

    --primary-text-color-dark: #212121;
    --primary-text-color-white: #ffffff;
    --secondary-text-color: #757575;

    --primary-footer-text-color: #ffffff;
    --secondary-footer-text-color: rgba(255, 255, 255, 0.6);

    --color-blue: #2196f3;

    --portfolio-item-border-color: #eeeeee;
}

/* --- Global --- */
html {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--primary-background-color-white);
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
}

.container {
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: var(--primary-background-color-dark);
}
.link:focus,
.link:hover {
    color: var(--primary-text-color-dark);
}
.link.current {
    color: var(--color-blue);
}

.visually-hidden {
    visibility: hidden;
}

/* --- [shared] header section---*/
.header {
    background-color: var(--primary-background-color-white);
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    margin-right: auto;
}
.header-list {
    display: flex;
    gap: 50px;
}
.header-link {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
}

.logo {
    margin-right: 93px;
}
.logo-blue {
    color: var(--color-blue);

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-black {
    color: var(--primary-text-color-dark);

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-white {
    color: var(--primary-text-color-white);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.contacts-list {
    display: flex;
    gap: 50px;
}
.contacts-link {
    text-decoration: none;
    color: var(--secondary-text-color);

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--color-blue);
}

/* --- [shared] footer section --- */
.footer {
    background-color: var(--primary-background-color-dark);
    align-items: center;
    padding-top: 60px;
}
.footer-address {
    margin: 0;
    padding-bottom: 60px;
}

.footer-address-list {
    display: block;
    padding-top: 20px;
    margin: 0;
    padding-left: 0;
    gap: 9px;
}

.footer-address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: var(--primary-text-color-white);
}
.footer-address-contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--secondary-footer-text-color);
}

/* --- studio [home] page --- */
.intro {
    background-color: var(--primary-background-color-dark);
    height: 600px;
    left: 0px;
    top: 80px;
}
.intro-container {
    padding: 200px 452px 210px 452px;
    text-align: center;
}

.hero-title {
    color: var(--primary-text-color-white);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding: 30px;
}
.hero-btn {
    color: var(--primary-text-color-white);
    background-color: var(--color-blue);
    padding: 10px 32px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.about {
    background-color: var(--primary-background-color-white);
    padding-top: 94px;
    align-items: center;
}
.about-list {
    display: flex;
    gap: 30px;
}
.about-title {
    color: var(--primary-text-color-dark);

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.about-description {
    color: var(--secondary-text-color);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-top: 10px;
}

.work {
    padding-top: 94px;
    padding-bottom: 94px;
}
.work-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 30px;
}
.work-title {
    color: var(--primary-text-color-dark);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    align-items: center;
}

.team {
    background-color: var(--primary-background-color-grey);
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-list {
    display: flex;
    gap: 30px;
    padding-top: 50px;
    justify-content: center;
}
.team-item {
    background-color: var(--primary-background-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-header-title {
    color: var(--primary-text-color-dark);

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-title {
    color: var(--primary-text-color-dark);

    padding-top: 30px;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 10px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-description {
    color: var(--secondary-text-color);

    padding-top: 0px;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

/* --- portfolio page --- */
.hero-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-bottom: 56px;
}

.portfolio-hero-btn {
    padding: 6px 22px;

    border-radius: 4px;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.portfolio-hero-btn-primary {
    color: var(--primary-text-color-white);
    background: var(--color-blue);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-hero-btn-secondary {
    color: var(--primary-text-color-dark);
    background-color: var(--primary-background-color-grey);
}
.portfolio-hero-btn-secondary:hover,
.portfolio-hero-btn-secondary:focus {
    background-color: var(--color-blue);
    color: var(--primary-text-color-white);
}

.portfolio {
    background-color: var(--primary-background-color-grey);
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    padding: 0;
    padding-bottom: 94px;
}
.portfolio-item {
    background-color: var(--primary-background-color-white);
    list-style: none;
    margin: 15px;
}
.portfolio-title {
    color: var(--primary-text-color-dark);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 20px 24px 4px 24px;
}
.portfolio-description {
    color: var(--secondary-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    padding: 0 24px 20px 24px;
}
.portfolio-card {
    border: 1px solid var(--portfolio-item-border-color);
}
