.contacts__list {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        justify-items: left;

        &:not(:last-child) {
            padding-bottom: 10px;
        }
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 50px;
    }
}
.contacts__item {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 1199px) {
        &:not(:last-child) {
            padding-bottom: 10px;
        }
    }
}
.contacts__link {
    display: none;
    text-decoration: none;
    color: var(--secondary-text-color);

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: color var(--anim-cubic);

    @media screen and (min-width: 768px) {
        display: flex;
    }

    &:hover,
    &:focus {
        color: var(--color-blue);
    }
}

.contacts__icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
}
