.register__form {
    text-align: center;
}

.register__title {
    display: block;

    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    font-weight: 700;

    letter-spacing: 0.03em;
}

.register__form-group {
    margin-bottom: 20px;
}

.register__group {
    position: relative;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    outline: none;

    &:last-child {
        margin-bottom: 0;
    }
}

.register__label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.register__input {
    padding: 12px 16px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 100%;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    border-radius: 4px;
    transition: border var(--anim-cubic);
    color: var(--primary-text-color-dark);
    transition: border var(--anim-cubic);

    &:focus,
    &:hover {
        border: 1px solid var(--color-blue);
        outline: none;
    }

    &:focus + .register__icon,
    &:hover + .register__icon {
        color: var(--color-blue);
    }
}
// .register__input:focus {
//     outline: none;
// }

.register__icon {
    fill: currentColor;
}
.register__icon {
    position: absolute;
    left: 15px;
    bottom: 11px;
}

.register__area {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border var(--anim-cubic);
    outline: none;

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
        transition: color var(--anim-cubic);
    }

    &:focus,
    &:hover {
        border: 1px solid var(--color-blue);
    }

    &:hover::placeholder,
    &:focus::placeholder {
        color: rgba(33, 150, 243, 0.5);
    }
}
