body {
    background-color: var(--primary-background-color-white);
    font-family: 'Roboto', sans-serif;
}
html {
    box-sizing: border-box;
}
img {
    display: block;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
